* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    background-image: url(img/Rectangle25.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
    background-color: #5C7C87;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    margin-inline: 50px;
    font-size: 30px;
    transition: 0.4s;
}

.text-header {
    color: black;
    background-color: white;
    font-weight: 700;
    padding: 15px;
    border-radius: 15px;
}

.main-logo{
    width: 559px;
    height: 239px;
}

.th {
    display: flex;
    justify-content: center;
    background-color: #C6C0C0;
    height: 200px;
    align-items: center;
    padding: 15px;
    border-radius: 40px;
}

header ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.box {
    width: 900px;
    background-color: #B3EBEF;
    font-size: 24px;
    padding: 15px;
    margin-top: 30px;
    border-radius: 20px;
    position: relative;
}

.box img {
    float: left;
    margin-right: 40px;
}

.box button {
    background-color: #748E8E;
    color: white;
    font-size: 45px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    position: absolute;
    bottom: 30px;
    transition: 0.4s;
}

.box button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.back {
    z-index: -55555;
    position: absolute;
    top: 0;
    height:5000px;
}

#burger {
    display: none;
}

nav {
    display: none;
    background-color: #5C7C87;
    height: 800px;
    position: fixed;
    width: 100%;
    z-index: 200;
    border-bottom: 5px solid yellow;
}

nav ul li {
    margin-inline: 50px;
    font-size: 30px;
    transition: 0.4s;
    margin-top: 70px;
}

nav ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
}


@media screen and (max-width: 1796px){
    ul {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1440px){
    header ul li a {
        font-size: 30px;
    }

    .main-logo {
        max-width: 900px;
    }

    .box {
        max-height: 300px;   
    }

    .back {
        height: 3000px;
    }

    .box img {
        max-height: 200px;
    }

    .box button {
        font-size: 18px;
    }
    
}


@media screen and (max-width: 1180px){
    header ul li a {
        font-size: 24px;
    }
    header ul li {
        margin-inline: 25px;
    }
}


@media screen and (max-width: 1024px){
    header ul li a {
        font-size: 24px;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    .main-logo {
        width: 800px;
    }

    .back {
        height: 2500px;
        top: 400px;
    }

    .box {
        max-width: 600px;
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    [for='burger'] {
        display: block;
        position: fixed;
        top: 15px;
        right: 30px;
        scale: 4; 
        z-index: 300;
    }

    header {
        display: none;
    }

    #burger:checked + label + nav{
        display: block;
    }
    .back {
        top: 0;
    }

}


@media screen and (max-width: 768px){
    header ul li a {
        font-size: 18px;
    }

}

@media screen and (max-width: 604px) {

    nav ul li {
        font-size: 18px;
    }

    .main-logo {
        width: 100%;
    }

    .box {
        height: 100%;
        width: 100%;
        font-size: 16px;
    }

}

@media screen and (max-width: 425px) {

    .box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 600px;
    }
    
    .box img {
        float: none;
    }

    .box button {
        position:absolute;
        bottom: 100px;
        left: 150px;
    }

}

@media screen and (max-width: 375px) {
    .box button {
        bottom: 125px;
    }

    .box {
        max-width: 375px;
    }
}

@media screen and (max-width: 320px) {
.box {
    max-width: 320px;
}
  
}