* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(img/Rectangle25.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    background-color: #5C7C87;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    margin-inline: 50px;
    font-size: 30px;
    transition: 0.4s;
}

.text-header {
    color: black;
    background-color: white;
    font-weight: 700;
    padding: 15px;
    border-radius: 15px;
}

.main-logo{
    width: 559px;
    height: 239px;
}

.th {
    display: flex;
    justify-content: center;
    background-color: #C6C0C0;
    height: 200px;
    align-items: center;
    padding: 15px;
    border-radius: 40px;
}

header ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

button {
    background-color: #748E8E;
    color:white;
    font-size: 45px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
    position: absolute;
    bottom: 0;
    left: 100px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    display: flex;
    justify-content: center;
}

.box {
    background-color:#B3EBEF;
    margin-top: 50px;
    border-radius: 15px;
    padding: 15px;
    flex-direction: column;
    max-width: 1000px;
}

.con-1 {
    display: flex;
}

.con-1 p {
    font-size: 32px;
}

.con-1 img {
    float: left;
    margin-right: 15px;
    
}

.con-1 a {
    position: absolute;
    bottom: 0;
    left: 0;
}

.con-2 {
    max-width: 370px;

}

.profil {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-top: 30px;
}

.profil img {
    width: 50px;
}

.revie1 {
    background-color:#5C7C87;
    font-size: 24px;
    padding: 15px;
    max-width: 600px;
    margin-top: 30px;
    border-radius: 15px;
}

b {
    margin-left: 15px;
}

.text {
    position: relative;
}

.con-1 i {
    font-size: 42px;
}

#burger {
    display: none;
}

nav {
    display: none;
    background-color: #5C7C87;
    height: 800px;
    position: fixed;
    width: 100%;
    z-index: 200;
    border-bottom: 5px solid yellow;
}

nav ul li {
    margin-inline: 50px;
    font-size: 30px;
    transition: 0.4s;
    margin-top: 70px;
}

nav ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 1796px){
    ul {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1180px){
    header ul li a {
        font-size: 24px;
    }
    header ul li {
        margin-inline: 25px;
    }
}


@media screen and (max-width: 1132px){
    header ul li a {
        font-size: 24px;
    }

   header {
        width: 100%;
   }

    .box {
        max-width: 900px;
    }

    
    .con p {
        font-size: 18px;
    }

    button {
        font-size: 22px;
        left: 100px;
        bottom: 40px;
    }
}

@media screen and (max-width: 800px) {
    [for='burger'] {
        display: block;
        position: fixed;
        top: 15px;
        right: 30px;
        scale: 4; 
        z-index: 300;
    }

    header {
        display: none;
    }

    #burger:checked + label + nav{
        display: block;
    }

}

@media screen and (max-width: 546px) {

    header ul li a {
        font-size: 24px;
    }

    main {
        width: 100%;
    }

    .con-1 {
        flex-direction: column;
    }

    .con-1 img {
        float: none;
        max-width: 200px;
    }

    .con-1 {
        font-size: 18px;
    }

    nav ul li {
        font-size: 18px;
    }

    .main-logo {
        width: 100%;
    }

}

@media screen and (max-width: 420px) {

    .con-1 img {
        float: none;
        max-height: 300px;
    }

    .text p{
        font-size: 18px;
    }

}

@media screen and (max-width: 375px) {

    header ul li a {
        font-size: 24px;
    }

}

@media screen and (max-width: 320px) {
    header ul li a {
        font-size: 25px;
    }
}